<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <!-- Still using 3 since 4 is in alpha -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
      <div class="container">
          <div class="row">
              <div class="col-xs-12 text-center">
                  <img src="http://www.curtmfg.com/Content/img/logo_footer_optimized.png" alt="Curt Manufacturing" />
              </div>
          </div>
          <div id="app"></div>
      </div>
    <!-- page content -->
    <script src="/scripts/app.bundle.js"></script>
  </body>
</html>
